<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

<div class="container align-content-center">
    <a th:href="@{/clear}"><button class="cta-button">Clear data</button></a> &nbsp; &nbsp;
</div>

<div class="container">
    <h1>Netflix Watch History Chart</h1>
    <canvas id="myChart" width="400" height="200"></canvas>
</div>

<script th:inline="javascript">
    let watchData = [[${watchData}]];
    const labels = Object.keys(watchData);
    const data = {
        labels: labels,
        datasets: [{
            label: 'Watch Count',
            data: Object.values(watchData),
            backgroundColor: 'rgba(205,18,13,0.2)',
            borderColor: 'rgb(228,110,88)',
            borderWidth: 1
        }]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    new Chart(
        document.getElementById('myChart'),
        config
    );
</script>

    <div th:if="${watchedContentByProfile.size() > 0}">
        <h3>Viewing Summary By Profile</h3>
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Profile</th>
                <th scope="col">Year</th>
                <th scope="col">Total Watched</th>
                <th scope="col">Duration</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="content : ${watchedContentByProfile}">
                <td>[[${content.profile}]]</td>
                <td>[[${content.year}]]</td>
                <td> <a th:href="@{'/watched-content-profile/' + ${content.profile} + '/' + ${content.year}}">[[${content.total}]]</a> </td>
                <td>[[${content.totalDuration}]]</td>
            </tr>
            </tbody>
        </table>
    </div>

        <div th:if="${watchedContentByDevice.size() > 0}">
            <h3>Viewing Summary By Device</h3>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Device</th>
                    <th scope="col">Year</th>
                    <th scope="col">Total Watched</th>
                    <th scope="col">Duration</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="content : ${watchedContentByDevice}">
                    <td>[[${content.profile}]]</td>
                    <td>[[${content.year}]]</td>
                    <td> <a th:href="@{'/watched-content-device/' + ${content.profile} + '/' + ${content.year}}">[[${content.total}]]</a> </td>
                    <td>[[${content.totalDuration}]]</td>
                </tr>
                </tbody>
            </table>
        </div>

</body>

</html>