<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

<div class="container align-content-center">
    <a th:href="@{/}"><button class="cta-button">Home</button></a> &nbsp; &nbsp;
</div>

<div class="container" >
    <h1>An error has occurred...</h1>

    <p>There seems to be a problem with the page you requested
        (<span th:text="${path}"></span>).</p>
    <p th:text="${'The status code is ' + status
       + ', which means that the page was ' + error + '.'}"></p>
    <p th:text="${'Further details: ' + message + '.'}"></p>

</div>

</div>

</body>

</html>